/* food truck styles.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(246, 246, 246);
}
.text-red {
  color: rgb(206, 1, 1);
}
.title {
  text-align: center;
  font-size: 1.2em;
}
#wrapper {
  display: grid;
  grid-template-columns: [menu] 2fr [checking-out] 1fr;
}
#food {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
}
/* food card section  *****************************/
.food-card {
  box-shadow: 5px 5px 10px rgb(195, 193, 193);
  background-color: rgb(240, 240, 240);
  margin: 0.5vh 1vw;
  width: 315px;
  height: 410px;
  text-align: center;
}
.food-image {
  width: 100%;
  height: 50%;
}
.food-name {
  font-size: 1.5em;
}
.food-description {
  font-size: 1em;
}
.food-price {
  font-size: 1em;
}
.margin-bot {
  margin-bottom: 1vh;
}
.select-box {
  width: 8vw;
  height: 3vh;
  cursor: pointer;
}
/* checkout section ************************/
.checkout {
  background-color: rgb(233, 227, 227);
  box-shadow: 5px 5px 10px rgb(195, 193, 193);
  position: sticky;
    top: 0;
  height: 600px;
  width: 15vw;
}
.total-amount {
  width: 100%;
  padding: 1vh;
  border-top: 1px solid grey;
  font-size: 1.4em;
}
.calculate {
  width: 100%;
  height: 7vh;
  background-color: rgb(216, 77, 27);
  color: white;
  border: none;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1vh;
}
.reset {
  text-decoration: none;
  font-size: 1.4em;
}
/*********************** FOOTER **********************************/
footer {
    line-height: 50px;
    clear: both;
    text-align: center;
    background-color: rgb(156, 156, 156);
    width: 100%;
    bottom: 0;
}
footer li {
  list-style-type: none;
  margin-left: 20px;
  display: inline;
}
footer a {
  text-decoration: none;
  color: black;
  transition: ease-in-out .2s;
}
footer a:hover {
  color: red;  
}
/* media section **************************** */
@media only screen and (max-width: 1441px) {
  .checkout {
    width: 25vw;
  }
}
@media only screen and (max-width: 1025px) {
  .food-name {
    font-size: 1.5em;
  }
  .food-description {
    font-size: 1.1em;
  }
  .food-price {
    font-size: 1.1em;
  }
  .food-card {
    margin: 0.5vh;
    width: 300px;
    height: 390px;
  }
  .total-amount {
    font-size: 1.2em;
  }
  .checkout {
    height: 50vh;
  }
}
/* end of tablet */
@media only screen and (max-width: 325px) {
  #wrapper {
    grid-template-columns: 1fr;
  }
  
  .food-name {
    font-size: 1.2em;
  }
  .food-description {
    font-size: 1em;
  }
  .food-price {
    font-size: 1em;
  }
  .food-card {
    margin-bottom: 1vh;
    width: 290px;
    height: 380px; 
  }
  .checkout {
    height: 40vh;
    width:100%;
  }
  .select-box {
    width: 10vw;
    height: 2vh;
  }
  .calculate {
    width: 100%;
    height: 5vh;
  }
}
/* end of mobile */